[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
black = "==18.6b4"

[packages]
click = "*"
maya = "*"
requests = "*"
black = "==18.6b4"
tzlocal = "==1.5.1"
kombu = "*"
datadog = "*"
apscheduler = "*"
raven = "*"

[requires]
python_version = "3.6.5"

[pipenv]
allow_prereleases = true

[scripts]
display_lag = "python bin/display-lag"
report_lag = "python bin/report-lag"
